<div id="CALENDAR" class="w-full ">
    <ul class="flex justify-between items-center text-gray-400 py-16 px-10 border bg-white rounded-t-lg">
        <form method="POST" hx-post="{% url 'change_month' 'Previous' %}" hx-target="#CALENDAR" hx-swap="outerHTML" class="transition-transform transform hover:-translate-x-1 text-lg m-4">
            {% csrf_token %}
            <input type="submit" value=" < {{date.previous_month_str}}" name="another_month" class="bg-white text-gray-300 cursor-pointer hover:text-gray-400">
            <input hidden value="{{date.year}}" name="data-year">
            <input hidden value="{{date.month_num}}" name="data-month">
            <input hidden value="{{date.day_num}}" name="data-day">
        </form>

        <li class="flex flex-col text-4xl text-gray-500 items-center font-black antialiased uppercase">
            {{date.month}}
            <div class="block text-sm text-gray-400"> {{date.year}} </div>
        </li>

        <form method="POST" hx-post="{% url 'change_month' 'Next' %}" hx-target="#CALENDAR" hx-swap="outerHTML" class="transition-transform transform hover:translate-x-1  text-lg m-4">
            {% csrf_token %}
            <input type="submit" value="{{date.next_month_str}} > " name="another_month" class="bg-white text-gray-300 cursor-pointer hover:text-gray-400">
            <input hidden value="{{date.year}}" name="data-year">
            <input hidden value="{{date.month_num}}" name="data-month">
            <input hidden value="{{date.day_num}}" name="data-day">
        </form>
    </ul>




    <div id="weekdays" class="flex bg-white min-w-full max-w-full border-l">
        {% for weekName, zip in date.weeks.items %}
            <div class="grid grid-flow-col auto-cols-auto max-w-full p-3 my-2 mx-auto justify-items-center self-center items-center">
            {% for day in zip %}
                {% if day.0 %}
                    <div class="p-1">
                    {% if date.year == date.today.year and date.month_num == date.today.month and day.0 == date.today.day %}
                        <!-- Today -->
                        <div class="grid grid-rows-2 m-auto ">
                            <span class=" bg-blue-100 text-blue-300 rounded-full p-2 font-thin text-sm w-9 h-9 text-center"> {{day.1}} </span>
                            <span class=" text-blue-300 font-medium rounded-lg mx-auto p-2 "> {{day.0}} </span>
                        </div>
                    {% else %}
                        {% if day.0 in trades_info.days  %}
                            <!-- any trade was registered on the day -->
                            <div class="text-red-300 hover:text-red-500 hover:translate-y-2 transform transition-all grid grid-rows-2 m-auto text-center cursor-pointer" hx-get="/history/date/{{day.0}}-{{date.month_num}}-{{date.year}}" hx-trriger="click" hx-target="#HISTORY_TIMELINE" hx-swap="outerHTML">
                                <div class="bg-red-100 rounded-full p-2 font-thin text-sm w-9 h-9"> {{day.1}} </div>
                                <div class="font-medium rounded-lg mx-auto p-2"> {{day.0}} </div>
                            </div>
                        {% else %}
                            <!-- NOT trade on this day -->
                            <div class="grid grid-rows-2 text-center m-auto">
                                <span class=" text-gray-400 text-opacity-60 bg-gray-100 rounded-full p-2 font-thin text-sm w-9 h-9 "> {{day.1}} </span>
                                <span class=" text-gray-400 text-opacity-70 font-medium rounded-lg mx-auto p-2"> {{day.0}} </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>