{% extends "main.html" %}


{% block menu %}
{% include 'include/menu.html' with active='history' %}
{% endblock menu %} 


{% block content %}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 ">
    
    {% include "dashboard/history/calendar.html" %}    

    <div class="flex flex-1">
        <div id="HISTORY_SETTING" class="w-1/5 min-h-full p-4 bg-white border-l border-r border-b">  
            <div class="mt-20">
                <div class="m-4">
                    Trades
                </div>
                <div class="m-4">
                    Review
                </div>
                <div class="m-4">
                    Messeges
                </div>
            </div>
        </div>
        <div id="TRADES_IN_DAY" class="w-4/5 p-10"></div>
    </div>

</div>
{% endblock content %}

