{% if query_set.has_other_pages %}

  <div id="Pagination" class="flex list-none justify-center">
      {% if query_set.has_previous %}
        <li class="px-2"><a class="inline text-gray-500" href="?page={{query_set.previous_page_number}}&search_query={{search_query|urlencode}}" class="bold"> &#10094; </a><li>
      {% endif %}

      {% for page in customRange  %}
        <li class="mx-1"> 
          {% if page == query_set.number %}
            <a href="?page={{page}}" class="p-2 font-bold text-gray-800 border bg-color-light2 rounded-md"> {{page}} </a>
          {% else %}
            <a href="?page={{page}}" class="p-2 font-bold border bg-color-light2 rounded-md text-gray-500"> {{page}} </a>
          {% endif %}
        </li>
      {% endfor %}
      
      {% if query_set.has_next %}
            <li class="px-2"><a class="text-gray-500" href="?page={{query_set.next_page_number}}&search_query={{search_query|urlencode}}" class="bold"> &#10095; </a><li>
      {% endif %}
  </div>

{% endif %}
