{% load static %} {% block sidebar %}

<div id="SIDEBAR" class="p-3 min-h-full bg-white">

  <ul class="h-full flex flex-col justify-center">
  {% for item, icon in sidebar.items  %}
      <li id="{{item|upper }}" class="list-none w-full relative leading-10 my-5">
        <a id="{{item}}_trigger" href="{% url item %}" class="w-full flex items-center">
          <span class="w-12 p-3 hover:bg-blue-50 hover:text-gray-400 rounded-lg
                        {% if active == item  %}text-blue-400 bg-indigo-50{%else%}text-gray-300 {% endif %}">
            {{icon|safe}}
          </span>
        </a>
        <span id="{{item}}_tooltip" class="antialiased absolute shadow-lg bg-color-light3 text-gray-400 text-center rounded-lg opacity-0 top-0 left-full ml-4 w-28 whitespace-nowrap font-normal transition-all duration-200">{{item|title}}</span>
      </li>
  {% endfor %} 
  </ul>

</div>


<script type="text/javascript">
{% for item in sidebar  %}

let {{item}} = document.querySelector('#{{item|upper}}')
let tooltip_{{item}} = document.querySelector('#{{item}}_tooltip')

{{item}}_trigger.addEventListener('mouseenter', () => {  
    tooltip_{{item}}.classList.remove('opacity-0')
    tooltip_{{item}}.classList.add('opacity-1')
    tooltip_{{item}}.classList.remove('-top-4')
    tooltip_{{item}}.classList.add('top-0')
})
{{item}}.addEventListener('mouseleave', () => {
    tooltip_{{item}}.classList.remove('opacity-1')
    tooltip_{{item}}.classList.add('opacity-0')
    tooltip_{{item}}.classList.remove('top-0')
    tooltip_{{item}}.classList.add('-top-4')
})

{% endfor %}

</script>

{% endblock sidebar %}