<form id="NEW_TRADE_FORM" method="POST" class="flex flex-col" autocomplete="off">
    {% csrf_token %}

    <div id="FORM_DATA" class="">
            {% for field in form %}
                <label id="FORM_LABEL" class="place-self-end m-4 flex items-center text-gray-500 p-1 text-base focus:text-blue-600">
                    {{field.label | title}} :
                </label>

                <div id="FORM_INPUT" class="flex flex-col items-center ">
                    {% if field.field.widget.attrs.id == 'CHECKBOX_SIDE' %}
                        <label id="CHECKBOX_SLIDE_BTN" class="text-gray-300" for="CHECKBOX_SIDE">
                            {{field}}
                        </label>
                    {% elif field.field.widget.attrs.id == 'slider' %}
                        <input id="output" type="text" onchange="sliderChangeSet(this.value)" value="1" class="absolute text-sm focus:text-blue-700 bg-color-dark w-10 block text-gray-500 text-center focus:outline-none ">
                    {% else %}
                        {{field}}
                    {% endif %}
                </div>
            {% endfor %}

            {% comment %} 
               <div id="-ANALYSIS-CATEGORY">
                    {% include "dashboard/newTrade/Trend_Analysis.html" %}
               </div>
            {% endcomment %}
    </div>

    <button class="w-64 self-center my-10 text-gray-200 bg-blue-700 rounded-lg p-4 hover:bg-blue-800" type="submit" form="NEW_TRADE_FORM" value="submit">
        {% if btn == 'Update' %}
            Update
        {% elif btn == 'Submit' %}
            Submit
        {% endif %}
    </button>
</form>