{% extends "main.html" %}


{% block menu %}
{% include 'include/menu.html' with active='strategy' %}
{% endblock menu %}



{% block content %}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">
<div class="my-10">
    Your Strategies : 
    {% for strategy in strategies  %}
        <a href="{% url 'strategy_edit' strategy.id %}" class="text-lg text-blue-400 mx-8">
            {{strategy}}
        </a>
        {% endfor %}
</div>

    <form method="POST">
        {% csrf_token %}
        {% for field in strategyForm  %}
                {{field.label}} : 
            <div class="my-2">
                {{field}}
            </div>
        {% endfor %}
        <input type="submit" class="bg-blue-100 rounded-lg p-4 my-4 cursor-pointer">
    </form>
{{value_risk}}
</div>
{% endblock content %}



{% block user_sidebar %}
{% include 'include/user_sidebar.html' %}
{% endblock user_sidebar %}