{% extends "main.html" %}


{% block menu %}
{% include 'include/menu.html' with active='strategy' %}
{% endblock menu %}

{% block content %}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">
    <a href="{% url 'strategy' %}" class="text-indigo-400 mb-8"> Back To Strategy </a>
    <div class="m-4">
        <span class="bg-white p-4 rounded-lg">
            name : 
        </span>    
        <span class="mx-4">
            {{strategy.name}}
        </span>
    </div>
    <div class="m-4">
        <span class="bg-white p-4 rounded-lg">
            balance : 
        </span>
        <span class="mx-4">
            {{strategy.balance}}
        </span>
    </div>
    <div class="m-4">
        <span class="bg-white p-4 rounded-lg">
            risk on Balance: 
        </span>
        <span class="mx-4">
            {{strategy.risk_balance}} %
        </span>
        <span class="mx-4"></span>
            {{strategy.value_risk_balance}} $
        </span>
    </div>
        <div class="m-4">
            <span class="bg-white p-4 rounded-lg">
                risk per position
            </span>
            <span class="mx-4">
                {{strategy.risk_position}} %
            </span>
            <span class="mx-4"></span>
                {{strategy.value_risk_position}} $
            </span>
        </div>
</div>
{% endblock content %}




{% block user_sidebar %}
{% include 'include/user_sidebar.html' %}
{% endblock user_sidebar %}