{% extends "main.html" %}


{% block menu %}
{% include 'include/menu.html' with active='strategy' %}
{% endblock menu %}


{% block content %}

<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">
{% for strategy in strategies  %}
    <div class="text-lg my-8">
        {{strategy}}
    </div>
{% endfor %}

    <form method="POST">
        {% csrf_token %}
        {{strategyForm.as_p}}
        <input type="submit">
    </form>
{{value_risk}}
</div>

{% endblock content %}


{% block user_sidebar %}
{% include 'include/user_sidebar.html' %}
{% endblock user_sidebar %}