{% extends "main.html" %}


{% block menu %}
{% include 'include/menu.html' with active='strategy' %}
{% endblock menu %}

{% block content %}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">
    <div>
        name : 
        {{strategy.name}}
    </div>
    <div>
        balance : 
        {{strategy.balance}}
    </div>
    <div>
        risk (%) : 
        {{strategy.risk_on_balance}}
    </div>
    <div>
        risk ($)
        {{strategy.value_risk}}
    </div>
</div>
{% endblock content %}




{% block user_sidebar %}
{% include 'include/user_sidebar.html' %}
{% endblock user_sidebar %}