{% extends 'main.html' %}

{% block style %}
{% endblock style %}

{% block sidebar %}
{% include 'include/sidebar.html' with active='trades' %}
{% endblock sidebar %}

{% block content %}
    <div id="MESSAGE_SIDEBAR" class="w-72 border">
        <div id="ALL_MESSAGES" class=" w-full border p-5 text-center"> 
            <a href="{% url 'trades_inbox' %}"> All Messages </a>
         </div>

        <div class=" w-full border p-5 text-center"> Latest Trade </div>
    </div>
    <div class="flex flex-col w-full">


        <div id="TRADE_MESSAGE" class="flex flex-col">
            {% for message in msg_details.all_msg  %}
                           
                <li id="ALL_MSG" class="{%if not message.is_read%} bg-gray-100 {%endif%} flex justify-between items-center border-b p-4 ">
                    <div class="flex flex-col items-center mx-10">
                        <a id="MSG_FROM" href="{% url 'profile' message.sender %}" class="text-blue-600">{{message.sender}}</a>
                        <span id="MSG_DATE" class="text-xs text-gray-400"> {{message.created}} </span>
                    </div>
                    <div id="TRADE_INFO" class="p-10 flex justify-between">       
                        <span class="mx-2 text-gray-400">{{message.trade.symbol}} </span>
                        <span class="mx-2 text-gray-400">{{message.trade.date}} {{trade.time}} </span>
                        <span class="mx-2 text-gray-400">{{message.trade.price}} </span>
                        <span class="mx-2 text-gray-400">{{message.trade.side}} </span>
                        <span class="mx-2 text-gray-400">{{message.trade.size}} </span>
                    </div>
                    <a href="{% url 'trade_inbox' message.id %}" id="MSG_BODY" class="text-gray-800 mx-10"> {{message.body|truncatewords:5}} </a>
                </li>
            {% endfor %} 
        </div>

        {%if msg_details.message %}
        <div id="MESSAGE_DETAIL" class="w-full border h-1/2 mt-auto">
            <div>  From : <a class="text-red-400" href="{% url 'profile' msg_details.message.sender %}">{{msg_details.message.sender}} </a></div>
            <div class="text-gray-400">  Time : {{msg_details.message.created}} </div>
            <div class="p-10"><span class="text-indigo-700">Message :</span> {{msg_details.message.body}} </div>
        </div>
        {%endif%}
    </div>
{% endblock %}
