{% extends 'main.html' %}

{% block menu %}
  {% include 'include/menu.html' with active='trades' %}
{% endblock menu %}


{% block content %}
<div id="MAIN" class="flex flex-1 ">

  <div id="FORM" class="overflow-y-auto flex p-4 bg-gray-200 border-2 min-h-full ">
    {% include "dashboard/trade/include/trade_form.html" with trade_edit_state=0 %}
  </div>

</div>



<script type="text/javascript">
  let Trend_Analysis_List = document.body.querySelector('#-TREND_ANALYSIS_LIST')
  let Trend_Analysis_Button = document.body.querySelector('#-TREND_ANALYSIS_BUTTON')


  function Trend_Analysis_Popup() {
    Trend_Analysis_List.classList.toggle('hidden');
    Trend_Analysis_Button.classList.toggle('bg-blue-700');
  }


  /* Range Slider for leverage*/
  function sliderChangeGet(val) {
    document.getElementById('output').value = val; 
   }

  function sliderChangeSet(val) {
    if(val<=500 && val>=1){
      val = document.getElementById('output').value;
      document.getElementById('slider').value = val;
    }else if(val>500){
        document.getElementById('output').value = 500
        document.getElementById('slider').value = 500
    }else if (val < 1){
      document.getElementById('output').value = 1
        document.getElementById('slider').value = 1
    } 
  }

/* update output for range slider when page load  */
document.addEventListener("DOMContentLoaded", function() {
    val = document.getElementById('slider').value 
    document.getElementById('output').value = val

    /* Set Background Color for Slide */
    Side = document.getElementById('SIDE')
    if (Side.value == "Long"){
        Side.classList.remove('bg-red-700')
        Side.classList.add('bg-green-700')
    } else if (Side.value == 'Short') {
        Side.classList.remove('bg-green-700')
        Side.classList.add('bg-red-700')
   } 
});

/* Click on Long */

 function ChangeValueSide() {
   Side = document.getElementById('SIDE')
   if (Side.value == "Long"){
    Side.value = 'Short'; 
    Side.classList.remove('bg-green-700')
    Side.classList.add('bg-red-700')
   }else if (Side.value == 'Short') {
     Side.value = 'Long'; 
     Side.classList.remove('bg-red-700')
    Side.classList.add('bg-green-700')
   }
 }

</script>

{% endblock %}

{% block userSidebar %}
{% include 'include/userSidebar.html' %}
{% endblock userSidebar %}