{% extends 'main.html' %}

{% block menu %}
{% include 'include/menu.html' with active='trades' %}
{% endblock menu %}


{% block content %}
<input hidden id="PAGE_LOAD_TRADE_CHECK_HX" hx-post="{% url 'trade_check_hx' %}" hx-include="#NEW_TRADE_FORM" hx-headers='{"X-CSRFToken":"{{csrf_token}}"}' hx-trigger="load from:#PAGE_LOAD_TRADE_CHECK_HX" hx-target="#NEW_TRADE_FORM"/>

<div id="DETAIL_TRADE" class="overflow-y-auto flex flex-grow">


    <div id="UPDATE_FORM" class="overflow-y-auto flex p-4 bg-gray-200 border-2 min-h-full ">
      {% include "dashboard/trade/include/trade_form.html" with  trade_edit_state=1 %}
    </div>


    <div id="MAIN_CONTENT" class="flex flex-col flex-1 p-2">
        <div class="">
          {% include 'dashboard/trade/include/trade_info.html' %}
        </div>
        
          <div class="">
            {% include 'dashboard/trade/message/message_ribbon.html' %}
          </div>

          <div id="CHART" class="h-32 my-6 border-2 flex-1">
            chart
          </div>


          <div id="REVIEW_FORM" class="border-2 ">
            {% include "dashboard/trade/review/review_form.html" %}
          </div>
    </div>

    {% include 'dashboard/trade/review/review_sidebar.html' %}
</div>

{% endblock %}