<div id="FORM_CAONTAINER">
<form id="NEW_TRADE_FORM" method="POST"
    {% if trade_edit_state %} 
        hx-post="{% url 'trade_edit' trade.id %}" hx-trigger="change,click from:#SIDE, submit" hx-target="#TRADE_INFO" hx-swap="outerHTML" hx-indicator="#indicator"
    {% else %} 
         action="{% url 'trade_add' %}"
    {% endif %} 

    class="flex flex-col" autocomplete="off"
>
    
    {% csrf_token %}
    {% comment %} <div id="indicator" class="htmx-indicator mx-auto sticky top-0 p-2 rounded-md bg-green-300">Updating...</div>  {% endcomment %}

    <div id="FORM_DATA">
            {% for field in tradeForm %}
                <label id="FORM_LABEL" class="place-self-end m-4 flex items-center text-gray-500 p-1 text-base focus:text-blue-600">
                    {{field.label | title}} :
                </label>
        
                <div id="FORM_INPUT" class="flex flex-col items-center ">                               
                    {% if field.field.widget.attrs.id == 'SYMBOL' %}
                        <div class="relative mb-4"> 
                            {{field}}
                            <div class="text-xs text-red-500 absolute left-4 ">
                                {{symbol_error}}
                            </div>
                        </div> 
                    {% elif field.field.widget.attrs.id == 'DATE' %}
                        <div class="relative">
                            {{field}}
                            <div class="text-xs text-red-500 absolute left-4 ">
                                {{tradeForm.date.errors}} 
                            </div>
                        </div>
                    {% elif field.field.widget.attrs.id == 'SIZE' %}
                        <div class="relative mb-4">
                            {{field}}
                            <div class="text-xs text-yellow-500 absolute left-4 ">
                                {{risk_error}}
                            </div>
                        </div>
                    {% elif field.field.widget.attrs.id == 'SIDE' %}
                        <div class="">
                            
                            {{field}}
                            <label for="side" class="hover:text-gray-700 cursor-pointer" {% if trade.side == 'Long' %}checked{% endif %} ></label>
                        </div>
                        <!-- <label class="text-gray-300" for="SIDE">
                            {{field}}
                        </label> -->
                    {% elif field.field.widget.attrs.id == 'slider' %}
                        <input id="output" type="text" onchange="sliderChangeSet(this.value)" value="1" class="absolute text-sm focus:text-blue-700 bg-color-dark w-10 block text-gray-500 text-center focus:outline-none ">
                    {% else %}
                        {{field}}
                    {% endif %}
                </div>
            {% endfor %}

    </div>

    {% include 'dashboard/trade/include/trade_analysis.html' %}

    {% if not tradeForm.errors and not trade_edit_state%}
        <button name="tradeForm" type="submit" form="NEW_TRADE_FORM" value="submit" class="w-64 self-center my-10 text-gray-200 bg-blue-700 rounded-lg p-4 hover:bg-blue-800">
                Submit
        </button>
    {% endif %}

<input hidden name="trade_edit_state" value="{{trade_edit_state}}">
 {% if trade_edit_state %}
    <input hidden name="trade_id" value="{{trade.id}}"> 
{% endif %}

</form>
</div>



<script>
    // When request send and response backed keep the cursor at the end of input
    function cursor_at_end(e){
        let val =  e.value
        e.value = ''; 
        e.value = val; 
    }


/* Click on Side options : Long and Short */
    function ChangeValueSide() {
        Side = document.getElementById('SIDE')
        if (Side.value == "Long") {
            Side.setAttribute('value', 'Short') ;
            Side.classList.remove('bg-green-700')
            Side.classList.add('bg-red-700')
        } else if (Side.value == 'Short') {
            Side.setAttribute('value', 'Long');
            Side.classList.remove('bg-red-700')
            Side.classList.add('bg-green-700')
        }
    }


    // /* Range Slider for leverage*/
    // function sliderChangeGet(val) {
    //     document.getElementById('output').value = val;
    // }

    // function sliderChangeSet(val) {
    //     if (val <= 500 && val >= 1) {
    //         val = document.getElementById('output').value;
    //         document.getElementById('slider').value = val;
    //     } else if (val > 500) {
    //         document.getElementById('output').value = 500
    //         document.getElementById('slider').value = 500
    //     } else if (val < 1) {
    //         document.getElementById('output').value = 1
    //         document.getElementById('slider').value = 1
    //     }
    // }

    /* update output for range slider when page load  */
    document.addEventListener("DOMContentLoaded", function () {
        // val = document.getElementById('slider').value
        // document.getElementById('output').value = val

        /* Set Background Color for Slide */
        Side = document.getElementById('SIDE')
        if (Side.value == "Long") {
            Side.classList.add('bg-green-700')
            Side.classList.remove('bg-red-700')
        } else if (Side.value == 'Short') {
            Side.classList.add('bg-red-700')
            Side.classList.remove('bg-green-700')
        }
    });

</script>