{% extends 'main.html' %}



{% block style %}
<style>
/* ======================  Spin Word*/
    .spin_words{
      animation: spin_words 5s infinite alternate ;
      animation-timing-function: ease-in-out;
    }
    @keyframes spin_words{
      0%{
        transform: translateY(0%);
      }
      50%{
        transform: translateY(0%);
      }
      55%{
        transform: translateY(-100%);
      }
      100%{
        transform: translateY(-100%);
      }
    }
</style>
{% endblock style %}



{% block menu %}
    {% include 'include/menu.html' with active='dashboard' %}
{% endblock menu %}




{% block content%}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">

  <div id="HEADER" class="self-end flex items-center">
      <a href="{% url 'trades_inbox' %}" class="no-underline relative p-4">
          <span class="p-3 bg-white text-gray-400 rounded-lg">Inbox</span>
          {% if unread_count %}
            <span class="px-2 absolute -top-2 -right-0 rounded-full bg-red-500 text-white"> {{unread_count}} </span>
          {% endif %}
      </a>

     {% include 'search/search.html' %}
  </div>


    {% include 'dashboard/trade/include/latest_trade.html' %}

</div>
{%endblock%}



{% block user_sidebar %}
{% include 'include/user_sidebar.html' with profile=profile %}
{% endblock user_sidebar %}