{% extends 'main.html' %}

{% block style %}
<style>
/* ======================  Spin Word*/
    .spin_words{
      animation: spin_words 5s infinite alternate ;
      animation-timing-function: ease-in-out;
    }
    @keyframes spin_words{
      0%{
        transform: translateY(0%);
      }
      50%{
        transform: translateY(0%);
      }
      55%{
        transform: translateY(-100%);
      }
      100%{
        transform: translateY(-100%);
      }
    }
</style>
{% endblock style %}

{% block sidebar %}
    {% include 'include/sidebar.html' with active='dashboard' %}
{% endblock sidebar %}


{% block content%}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">

    {% include 'include/search/search.html' %}

    <div id="LATEST_TRADES" class="bg-color-light1 min-h-full my-14">
        <h2 class="text-gray-600 text-2xl font-bold tracking-wider px-10 pb-10 antialiased"> LATEST TRADES </h2>

        <div class="grid grid-cols-5 text-center mx-2 ">
            <h2 class="bg-color-light2 tracking-wider bg-opacity-20 font-bold text-gray-400 py-8 whitespace-nowrap rounded-l-lg">
                <span class="lg:hover:bg-gray-100 py-2 px-3 rounded-lg cursor-pointer transition-all duration-200"> Symbol</span> </h2>
            <h2 class="bg-color-light2 tracking-wider bg-opacity-20 font-bold text-gray-400  py-8 whitespace-nowrap"> <span
                    class="lg:hover:bg-gray-100 py-2 px-6 rounded-lg cursor-pointer transition-all duration-200"> Price </span></h2>
            <h2 class="bg-color-light2 tracking-wider bg-opacity-20 font-bold text-gray-400 py-8 whitespace-nowrap"> <span
                    class="lg:hover:bg-gray-100 py-2 px-4 rounded-lg cursor-pointer transition-all duration-200"> Size </span> </h2>
            <h2 class="bg-color-light2 tracking-wider bg-opacity-20 font-bold text-gray-400 py-8 whitespace-nowrap"> <span
                    class="lg:hover:bg-gray-100 py-2 px-4 rounded-lg cursor-pointer transition-all duration-200"> P/L </span></h2>
            <a href="{% url 'newtrade' %}"
                class="bg-color-light2 rounded-r-lg tracking-wider font-semibold text-gray-200 py-8 whitespace-nowrap"> <span
                    class="bg-blue-400 hover:bg-blue-600 py-2 px-3 rounded-lg cursor-pointer transition duration-200"> + <span class="hidden lg:inline">Add New</span></a>
        </div>

        <div class="grid grid-cols-5 text-center mx-2">
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-gray-400 text-center whitespace-nowrap lg:font-medium text-sm md:text-base"> BTC / USD </h3>
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-gray-400 text-center whitespace-nowrap lg:font-medium text-sm md:text-base">51241</h3>
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-gray-400 text-center whitespace-nowrap lg:font-medium text-sm md:text-base">0.1 </h3>
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-center whitespace-nowrap">
                <div class="overflow-hidden h-7 text-green-500 z-0">
                    <div class="spin_words"> 426.5 $</div>
                    <div class="spin_words flex items-center justify-center">
                        <svg class="stroke-current text-green-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#4c4c4c" stroke-width="2.5"
                            stroke-linecap="square" stroke-linejoin="round">
                            <path d="M18 15l-6-6-6 6" />
                        </svg>
                        <span class=""> 5.6% </span>
                    </div>
                </div>
            </h3>
            <div class="border-b border-gray-300 py-4 border-opacity-50 text-gray-400 flex justify-center">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="#4c4c4c" stroke-width="2.5" stroke-linecap="square"
                    stroke-linejoin="round">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                </svg>
            </div>
        </div>

        <div class="grid grid-cols-5 text-center mx-2">
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-gray-400 text-center whitespace-nowrap lg:font-medium text-sm md:text-base">ETH / USD</h3>
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-gray-400 text-center whitespace-nowrap lg:font-medium text-sm md:text-base">3916 </h3>
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-gray-400 text-center whitespace-nowrap lg:font-medium text-sm md:text-base">10</ /span></h3>
            <h3 class="pl-4 border-b border-gray-300 border-opacity-50 py-4 text-center whitespace-nowrap">
                <div class="overflow-hidden h-7 text-red-500">
                    <div class="spin_words"> 2.5 $</div>
                    <div class="spin_words flex items-center justify-center">
                        <svg class="stroke-current text-red-500 " xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#4c4c4c" stroke-width="2.5"
                            stroke-linecap="square" stroke-linejoin="round">
                            <path d="M6 9l6 6 6-6" />
                        </svg>
                        0.6%
                    </div>
                </div>
            </h3>
            <div class="border-b border-gray-300 border-opacity-50 py-4 text-gray-400 flex justify-center">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="#4c4c4c" stroke-width="2.5" stroke-linecap="square"
                    stroke-linejoin="round">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                </svg>
            </div>
        </div>
    </div>
</div>



{%endblock%}



{% block userSidebar %}
{% include 'include/userSidebar.html' with profile=profile %}
{% endblock userSidebar %}