{% extends "main.html" %}

{% block sidebar %}
{% include 'include/sidebar.html' with active='history' %}
{% endblock sidebar %}

{% block header %}
{% include 'include/header.html' %}
{% endblock header %}


{% block content %}
<h1 class="text-gray-200 ">Filter based on : </h1>
<p class="text-gray-200">Date</p>
<p class="text-gray-200">side</p>
<p class="text-gray-200">Analysis Category</p>
<p class="text-gray-200">Symbol</p>
<p class="text-gray-200">Mistakes</p>
<p class="text-gray-200">Tiem of days</p>
<p class="text-gray-200">Weekdays</p>
<p class="text-gray-200">emotions</p>
<p class="text-gray-200">wins</p>
<p class="text-gray-200">loss</p>
{% endblock content %}
