{% extends "main.html" %}

{% block sidebar %}
{% include 'include/sidebar.html' with active='trades' %}
{% endblock sidebar %}


{% block content %}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">

{{search_query}}

  <div id="All_TRADE" class="overflow-y-auto flex flex-1 bg-color-light1 text-gray-200 p-10">
   <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-900 ">
          <table class="min-w-full divide-y divide-gray-600">
            <thead class="bg-gray-700">
              <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                Symbol
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                Date and Time
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                Price
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                Side
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                Size
              </th>
              {% comment %} <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                Leverage
              </th> {% endcomment %}
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-color-dark divide-y divide-gray-700 divide-opacity-40">
          {% for trade in trades %}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-500">
                      {{trade.symbol}}
                  </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center">
                <div class="text-sm text-gray-500"> {{trade.date}}</div>
                <div class="text-sm text-gray-500"> {{trade.time}}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center">
                <div class="text-sm text-gray-500"> {{trade.price}} </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {% if trade.side == 'Long' %}
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-300 text-green-800">
                      {{trade.side}}
                  </span> 
                {% else %}
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-300 text-green-800">
                      {{trade.side}}
                  </span> 
                {% endif %}
                
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                <div class="text-sm text-gray-500"> {{trade.size}} </div>                
              </td>
              {% comment %} <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                <div class="text-sm text-gray-500"> {{trade.leverage}} </div>
              </td> {% endcomment %}
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <a  class="text-red-600 hover:text-red-900" href="{% url 'delete_trade' trade.id %}">Delete</a>
                <a  class="text-indigo-600 hover:text-indigo-900" href="{% url 'update_trade' trade.id %}">Details</a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block userSidebar %}
{% include 'include/userSidebar.html' %}
{% endblock userSidebar %}