    <div id="TREND_ANALYSIS" class="w-80 flex flex-col ml-8 rounded-lg overflow-hidden">

        <button onclick="Trend_Analysis_Popup()" id="-TREND_ANALYSIS_BUTTON"
            class="w-80 text-gray-300 text-center text-lg font-bold tracking-wide bg-gray-600 hover:bg-blue-700 p-4 rounded-sm cursor-pointer">
            Trend Analysis
        </button>

        <div id="-TREND_ANALYSIS_LIST" class="hidden flex flex-col items-center overflow-x-hidden overflow-y-scroll w-80 h-64 px-4 py-2 bg-gradient">
        
            <label for="Support_and_Resistance" class=" w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Support And Resistance
                </span>
                <input id="Support_and_Resistance" name="Support_and_Resistance" type="checkbox">
            </label>
        
            <label for="Supply_and_Demand" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Supply and Demand
                </span>
                <input id="Supply_and_Demand" name="Supply_and_Demand" type="checkbox">
            </label>
        
            <label for="Pivot_Points" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Pivot Points
                </span>
                <input id="Pivot_Points" name="Pivot_Points" type="checkbox">
            </label>
        
            <label for="fibonacci" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Fibonacci
                </span>
                <input id="fibonacci" name="fibonacci" type="checkbox">
            </label>
        
            <label for="Trend_lines" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Trend Lines
                </span>
                <input id="Trend_lines" name="Trend_lines" type="checkbox">
            </label>
        
            <label for="Candlestick_Analysis" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Candlestick Analysis
                </span>
                <input id="Candlestick_Analysis" name="Candlestick_Analysis" type="checkbox">
            </label>
        
            <label for="Multiple_Time_Frame_Analysis" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                Multiple Time Frame Analysis
                <input id="Multiple_Time_Frame_Analysis" name="Multiple_Time_Frame_Analysis" type="checkbox">
            </label>
        
            <label for="Fractals" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                <span>
                    Fractals
                </span>
                <input id="Fractals" name="Fractals" type="checkbox">
            </label>
        
            <label for="Cycles" class="w-72 flex items-center justify-between my-1 text-gray-300 bg-gray-800 p-4 rounded-lg cursor-pointer hover:bg-gray-700">
                Cycles
                <input id="Cycles" name="Cycles" type="checkbox">
            </label>
        
        </div>

    </div>


