{% extends 'main.html' %}



{% block menu %}
    {% include 'include/menu.html' with active='dashboard' %}
{% endblock menu %}




{% block content%}
<div id="MAIN" class="flex flex-col flex-1 bg-color-light1 py-5 px-20">

  <div id="HEADER" class="self-end flex items-center">
      <a href="{% url 'trades_inbox' %}" class="no-underline relative p-4">
          <span class="p-3 bg-white text-gray-400 rounded-lg">Inbox</span>
          {% if unread_count %}
            <span class="px-2 absolute -top-2 -right-0 rounded-full bg-red-500 text-white"> {{unread_count}} </span>
          {% endif %}
      </a>

     {% include 'search/search.html' %}
    </div>
    
    
  <input hidden id="LATEST_TRADES_SORT" hx-get="/dashboard/latest_trades?order_by=datetime&last=&toggle=&page=dashboard" hx-trigger="load from:#LATEST_TRADES_SORT" hx-target="#LATEST_TRADES" hx-swap="outerHTML">
  {% include 'dashboard/trade/include/latest_trade.html' %}

</div>
{%endblock%}


{% block user_sidebar %}
{% include 'include/user_sidebar.html' with profile=profile %}
{% endblock user_sidebar %}
